{
  "env": {
    "browser": true,
    "es6": true,
    "cypress": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-undef": "error",
    "no-unused-vars": "error"
  }
}
