html {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

body {
  margin: 16px;
  max-width: 500px;
}

nav[aria-label="site navigation"] ul {
  display: flex;
  font-size: 1.25rem;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

main {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

article li {
  margin-bottom: 0.75rem;
}

pre.code-snippet {
  overflow-x: scroll;
  width: 350px;
}

@media (min-width: 500px) {
  body {
    min-width: 500px;
  }

  pre.code-snippet {
    overflow-x: scroll;
    min-width: 500px;
  }
}
