* {
  box-sizing: border-box;
}

.body-container {
  max-width: 90ch;
  min-width: 90ch;
}

.flex-container--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  width: 100%;
}