html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 500px;
}

nav ul {
  display: flex;
  font-size: 1.25rem;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

article p,
article ul {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

article li {
  margin-bottom: 0.75rem;
}
